.CreateTodoButton{
    background-color: var(--blue);
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    bottom: 50px;
    color: var(--white);
    font-size: 30px;
    border: none;
    border-radius: 50%;box-shadow: 0px 2px 10px rgba(32,35,41,.15);

}