input{
    width: 60%;
    margin: 0 20% 24px;
    padding: 12px;
    font-size: 16px;
    border: solid 2px var(--white);
    border-radius: 8px;
    outline: none;
    transition: .2s;
}
input:hover, input:focus{
    border: solid 2px var(--blue);
    transition: .2s;
}