.TodoItem{
    background-color: var(--white);
    width: 60%;
    margin: 20px 20%;
    padding: 24px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    border-radius: 12px;
    list-style: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
i{
    font-size: 20px;
    border-radius: 50%;
}
.TodoItem-p{
    padding: 0 56px 0 32px;
    font-size: 16px;
    font-weight: bold;
}
.TodoItem-p--complete{
    text-decoration: line-through;
}
.Icon{
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.Icon-check{
    left: 16px;
}
.Icon-check--active{
    color: var(--green);
}
.Icon-delete{
    width: 40px;
    height: 40px;
    right: 16px;
    border: none;
    border-radius: 8px;
    transition: .2s;
}
.Icon-delete:hover{
    color: var(--red);
    transition: .2s;
}